<div class="card">
    <div class="card-body">
        <h5 class="mt-0 mb-3">Comentarios ({{total}}) </h5>
        

        {% for comentario in producto.comentariosp.all %}
        <div class="d-flex align-items-start mt-2 mx-1">
            <a class="pe-1" href="#">
              <img class="me-3 avatar-sm rounded-circle" src="{{comentario.autor.profile.image_url}}" alt="Generic placeholder image">
            </a>
            <div class="w-100 overflow-hidden">
                <h5 class="mt-0">{{comentario.autor}}</h5>
                <h6 class="mt-0">{{comentario.created}}</h6>
                {{comentario.contenido}}
                
                

                <div class="my-1 mx-1">
                  {% if user.is_authenticated %}
                    {% if user in comentario.likes.all %}
                      <a href="{% url 'dislike_comment' comentario.id %}" class="btn btn-sm btn-link text-muted mx-1" ><i class='mdi mdi-heart text-danger'></i> {{comentario.likes.count}} Likes</a>
                    {% else %}
                      <a href="{% url 'like_comment' comentario.id %}" class="btn btn-sm btn-link text-muted"><i class='uil uil-heart-alt '></i> {{comentario.likes.count}} Likes</a>
                    {% endif %}
                    {% endif %}
                      {% if comentario.respuestasp.count == 0 %}
                        <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class='uil uil-comments-alt'></i> Respuestas</a>
                      {% else %}
                        <a class="btn btn-sm btn-link text-muted" data-bs-toggle="collapse" href="#collapse{{comentario.id}}" aria-expanded="false" aria-controls="collapseExample">
                          <i class='uil uil-comments-alt text-primary'></i> 
                          {{comentario.respuestasp.count}} Respuestas</a>
                          
                      {% endif %}
                      
                  
          <!---------------------------------------FIN------------------------------------------------>

          <!-----------------------BEGIN COLLAPSE RESPONDER---------------------------------------->
                      <a class="btn btn-sm btn-link text-muted" data-bs-toggle="collapse" href="#collapseExample{{comentario.id}}" onclick="" aria-expanded="false" aria-controls="collapseExample4">
                        <i class="mdi mdi-reply"></i>Responder</a>
                        
          <!------------------------FIN COLLAPSE RESPONDER----------------------------------------->

          <!---------------Opciones de editar y eliminar comentarios---------------------------->
                    
                      {% if user == comentario.autor %}
                          
                        <a class="btn btn-sm btn-link text-muted text-end dropstart" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class='dripicons-dots-3'></i> 
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a href="{% url 'edit_comment_prod' comentario.pk %}" class="dropdown-item"  >Editar</a></li>
                          <li><a class="dropdown-item" href="{% url 'eliminar_comentario' comentario.id %}">Eliminar</a></li>
                        </ul>
                      {% endif %}
                    
                </div>

                 
       
                <!--Collapse con las respuestas-->
                <div class="collapse" id="collapse{{comentario.id}}">
                  
                  {% for respuesta in comentario.respuestasp.all %}
                      <div class="d-flex align-items-start mt-3">
                          <a class="pe-3" href="#">
                              <img src="{{respuesta.autor.profile.image_url}}" class="avatar-sm rounded-circle" alt="Generic placeholder image">
                          </a>
                          <div class="w-100 overflow-hidden">
                              <h5 class="mt-0">{{respuesta.autor}}</h5>
                              <h6 class="mt-0">{{respuesta.created}}</h6>
                              {{respuesta}}
                              
                      
                              <div class="my-1">
                                {% if user in respuesta.likes.all %}
                                  <a href="{% url 'dislike_reply' respuesta.id %}" class="btn btn-sm btn-link text-muted mx-1" ><i class='mdi mdi-heart text-danger'></i> {{respuesta.likes.count}} Likes</a>
                                {% else %}
                                  <a href="{% url 'like_reply' respuesta.id %}" class="btn btn-sm btn-link text-muted"><i class='uil uil-heart-alt '></i> {{respuesta.likes.count}} Likes</a>
                                {% endif %}
                                  
                                  <!--Responder en las respuestas-->
                                  <a class="btn btn-sm btn-link text-muted" data-bs-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                                    <i class="mdi mdi-reply"></i>Responder</a>
                                  <!-------------------------------------------------------->

                                  {% if user == respuesta.autor %}
                                    <a class="btn btn-sm btn-link text-muted text-end dropstart" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      <i class='dripicons-dots-3'></i> 
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                                      <li><a href="{% url 'edit_reply_prod' respuesta.id %}" class="dropdown-item" >Editar</a></li>
                                      <li><a class="dropdown-item" href="{% url 'eliminar_respuesta' respuesta.id %}">Eliminar</a></li>
                                    </ul>
                                  {% endif %}
                              </div>
                              
                      
                      
                          </div>
                      </div>
                    
                  {% endfor %}
                  
              </div>
                 <!--FIN Collapse-->
                <!--Formulario para enviar la respuesta-->
                 <div class="collapse" id="collapseExample{{comentario.id}}">
                  {% if user.is_authenticated %} 
                    <form method="POST" action="{% url 'responder_comentario' comentario.id %}">
                      {% csrf_token %}
                      <textarea class="form-control form-control-light mb-2" placeholder=" Responder a {{comentario.autor}}" id="contenido" name="contenido"  rows="3"></textarea>
                      
                      <div class="text-end">
                          <div class="btn-group mb-2">
                              <button type="button" class="btn btn-link btn-sm text-muted font-18"><i class="dripicons-paperclip"></i></button>
                          </div>
                          <div class="btn-group mb-2 ms-2">
                              {% comment %} <a type="bottom" class="btn btn-success btn-sm" href="{% url 'add_comment' post.id %}">
                                  <i class="uil uil-message me-1"></i>
                                  Enviar
                              </a>  {% endcomment %}
                              <button type="buttom" class="btn btn-success btn-sm" >
                                <i class="uil uil-message me-1"></i>
                                Enviar
                              </button> 
                              
                              
                          </div>
                      </div>
                    </form>
                  
                    {% else %}
                    <h5 class="mt-4 text-danger text-center">Debes estar autencicado para escribir comentarios en este blog</h5>
                  {% endif %}
                </div>
                <!--FIN FORM DE RESPUESTAS-->
            </div>
        </div>
        {% endfor %}
        
         
        
          {% if user.is_authenticated %} 
            <form method="POST" action="{% url 'adicionar_comentario' producto.id %}">
              {% csrf_token %}
              <textarea class="form-control form-control-light mb-2" placeholder="Escribe tu comentario" id="contenido" name="contenido" rows="3"></textarea>
              {% comment %} {{form.as_p}} {% endcomment %}
              <div class="text-end">
                  <div class="btn-group mb-2">
                      <button type="button" class="btn btn-link btn-sm text-muted font-18"><i class="dripicons-paperclip"></i></button>
                  </div>
                  <div class="btn-group mb-2 ms-2">
                      {% comment %} <a type="bottom" class="btn btn-success btn-sm" href="{% url 'add_comment' post.id %}">
                          <i class="uil uil-message me-1"></i>
                          Enviar
                      </a>  {% endcomment %}
                      <button type="buttom" class="btn btn-success btn-sm" >
                        <i class="uil uil-message me-1"></i>
                        Enviar
                      </button> 
                      
                      
                  </div>
              </div>
            </form>
          
            {% else %}
            <h5 class="mt-4 text-danger text-center">Debes estar autencicado para escribir comentarios en este blog</h5>
          {% endif %}
       

        
    </div> <!-- end card-body-->
 </div>