{% extends 'Dashboard/base_dash.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'blog_dash' %}">Producto</a></li>
                            <li class="breadcrumb-item active">Add Producto</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Add Producto</h4>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">   
        <!-- end page title --> 
                        <form method= "POST" action="{% url 'add_producto' %}" enctype="multipart/form-data" >
                            {% csrf_token %}
                                {% comment %} {{form.as_p}}  {% endcomment %}
                            <div > 
                                <label for="id_nombre">Nombre:</label>
                                <input type="text" class="form-control" id="id_nombre" maxlength="50" name="nombre" required>
                                
                              </div>

                              <div > 
                                <label for="id_precio">Precio:</label>
                                <input type="number" value="0.0" step="any" pattern="[0-9,.]+" class="form-control" id="id_precio" name="precio" required>
                                
                              </div>

                              <div class="my-3">
                                <label for="id_categorias">Categorias:</label>
                                <select class="form-control" id="id_categorias" name="categorias" multiple>
                                    {% for categoria in categorias %}
                                        
                                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                                        
                                    {% endfor %}
                                    
                                </select>
                                
                              </div>

                              <div class="my-3">
                                <label for="id_tienda">Tiendas:</label>
                                <select class="form-control" id="id_tienda" name="tienda" multiple>
                                    {% for tienda in tiendas %}
                                        {% if user.id == tienda.encargado_id %}
                                            <option value="{{tienda.id}}">{{tienda.nombre}}</option>
                                        {% endif %}
                                    {% endfor %}
                                    
                                </select>
                                
                              </div>

                              <div class="my-3">
                                <label for="id_image">Imagen:</label>
                                <input type="file" class="" id="id_image" accept="image/*" name="image" >
                                
                              </div>

                              <div class="my-3">
                                <label for="id_image1">Imagen2:</label>
                                <input type="file" class="" id="id_image1" accept="image/*" name="image1" >
                                
                              </div>

                              <div class="my-3">
                                <label for="id_image2">Imagen3:</label>
                                <input type="file" class="" id="id_image2" accept="image/*" name="image2" >
                                
                              </div>

                              <div class="my-3">
                                <label for="id_descripcion">Descripcion:</label>
                                <textarea class="form-control" id="id_descripcion" name="descripcion" required></textarea>
                                
                              </div>

                              <div > 
                                <label for="id_cantidad">Cantidad:</label>
                                <input type="number" class="form-control" id="id_cantidad" name="cantidad" required>
                                
                              </div>

                              <div class="my-3">
                                <label for="id_vender">Vender:</label>
                                <input type="checkbox"  id="id_vender" name="vender" checkbox>
                                
                              </div> 
                              
                              
                              <div class="my-3">
                                <button class="btn btn-success">Añadir</button>
                              </div>
                            </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}