{% extends 'Dashboard/base_dash.html' %}
{% load static %}
{% block content %} 
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'tiendas_dash' %}">Tienda</a></li>
                            <li class="breadcrumb-item active">Eliminar Tienda</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Eliminar Tienda</h4>
                </div>
            </div>
        </div>    
        <div class="row"> 
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">   
        <!-- end page title --> 
                        {% comment %} action="{% url 'delete_post' post.pk %}" enctype="multipart/form-data" {% endcomment %}
                        <form  method= "POST">
                            {% csrf_token %}
                            <h4>¿Deseas eliminar la Tienda con nomnbre: "{{tienda.nombre}}"?</h4>
                            <h4>Todos los productos y comentarios asociados a esta se eliminaran tambien</h4>
                            
                        
                            <div class="my-3">
                                <a href="{% url 'tiendas_dash' %}" class="btn btn-primary mx-3"> No, Ir atras</a> 
                                <button class="btn btn-danger">Si, eliminar</button>
                            </div>  
                        </form>

                    </div>
                </div>
            </div>
        </div> 
     </div> 
{% endblock %}
