{% extends 'InicioTiendaFull/base.html' %}
{% load static %}            
{% block content %}
    <div class="container-fluid">
        <div id="content" class="p-5 rounded">
            <div class="row align-items-lg-center">
                <div class="col-sm-8 order-md-2 col-lg-6 text-center text-md-start">
                <p class="display-4">Integracion de sistemas de gestion</p>
                <p class="lead mb-4">
                    This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="../examples/navbar-static/">top</a> and <a href="../examples/navbar-fixed/">fixed top</a> examples.
                    
                </p>
                <p>
                    <a class="btn btn-primary" href="#" role="button">Leer mas &raquo;</a>
                </p>
                </div>
                <div class="col-8 mx-auto col-md-4 order-md-1 col-lg-6">
                <img src="features-1.svg">
                </div>
                
            </div>
        </div>

        <div id="content" class="p-3 rounded">
            <div class="row align-items-lg-center">
                <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-6">
                <img src="startup.svg">
                </div>
                <div class="col-sm-8 order-md-1 col-lg-6 text-center text-md-start">
                <p class="lead mb-4">
                    <p class="display-4">Sistema de Gestión Empresarial</p>
                    This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="../examples/navbar-static/">top</a> and <a href="../examples/navbar-fixed/">fixed top</a> examples.
            
                </p>
                <p>
                    <a class="btn btn-primary" href="#" role="button">Leer mas &raquo;</a>
                </p>
                </div>
            </div>
        </div>  
        
        <div id="content" class="p-5 rounded">
            <div class="row align-items-lg-center">
                <div class="col-sm-8 order-md-2 col-lg-6 text-center text-md-start">
                <p class="display-4">Integracion de sistemas de gestion</p>
                <p class="lead mb-4">
                    This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="../examples/navbar-static/">top</a> and <a href="../examples/navbar-fixed/">fixed top</a> examples.
                    
                </p>
                <p>
                    <a class="btn btn-primary" href="#" role="button">Leer mas &raquo;</a>
                </p>
                </div>
                <div class="col-8 mx-auto col-md-4 order-md-1 col-lg-6">
                <img src="features-1.svg">
                </div>
                
            </div>
        </div>

       
    </div>   
{% endblock %}              
                        
                    
                  
                